<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705663978308-h9rs0ss0m6rf9miref11k26jgdqo7att.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705663978308-h9rs0ss0m6rf9miref11k26jgdqo7att</string>
	<key>API_KEY</key>
	<string>AIzaSyCaGNHQ2cvq4C0AxZZhFD-rGJWFebVoTu8</string>
	<key>GCM_SENDER_ID</key>
	<string>705663978308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ac.hal.cardexchange.cardExchange</string>
	<key>PROJECT_ID</key>
	<string>card-exchange-cd112</string>
	<key>STORAGE_BUCKET</key>
	<string>card-exchange-cd112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705663978308:ios:3e7f141d4c7d3cb7252511</string>
</dict>
</plist>